<div class="dashboard-container">
  <header class="dashboard-header">
    <div class="logo">
      <img src="assets/swift-bank-logo.png" alt="Swift Bank Logo" />
    </div>
    <div class="user-info">
      <!-- <div class="notifications">
        <i class="icon-bell"></i>
      </div> -->
      <div class="user-avatar">
        <span class="avatar-initials">JD</span>
      </div>
    </div>
  </header>

  <div class="main-dashboard">
    <section class="top-section">
      <div class="account-details-card">
        <p class="account-details-header">Account Details</p>
        <div class="account-details-content">
          <p id="account-holder">John Doe</p>
          <p id="account-number">167-3090-210</p>
          <p id="account-type">Savings Account</p>
        </div>
      </div>
  
      <div class="transactions-card" [routerLink]="['/transactions']" style="cursor: pointer;">
        <p class="transactions-header">Transaction History</p>
        <img id="transaction-img" src="assets/recent-transactions.png" alt="Transactions Illustration" />
      </div>
    </section>
    
    <section class="bottom-section">
      <div class="account-balance-card">
        <p class="account-balance-header">Account Balance</p>
        <div class="account-balance-content">
          <p id="bal-amount">$25,685</p>
          <p id="withdrawal-limit">Daily Withdrawal Limit: $2,000</p>
        </div>
      </div>
  
      <div class="transfer-funds-card" [routerLink]="['/transfer']" style="cursor: pointer;">
        <p class="transfer-header">Transfer Funds</p>
        <img id="transfer-img" src="assets/transfer-funds.png" alt="Transfer Illustration" />
      </div>
    </section>
  </div>
</div>