/* Main container for the dashboard */
.dashboard-container {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
  margin-top: 50px;
  align-items: center;
}

/* Header section for the logo and user avatar */
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  gap:1000px;
  padding-right: 70px;
}

.logo img {
  width: 150px;
}

.user-info {
  display: flex;
  align-items: center;
  margin-top: 5px;;
}

/* .notifications {
  margin-right: 20px;
} */

.user-avatar {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 15px;
  color: #fff;
  text-align: center;
  background: #a0c5ec;
  margin-top: 5px;
}

.avatar-initials {
  font-weight: bold;
}

.top-section, .bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 45px;
  width: fit-content;
}

.top-section {
  margin-bottom: 45px;
  margin-top: -20px;
}

.account-details, .account-balance {
  text-align: center;
}

.account-details-card, .account-balance-card {
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  width: 600px;
  height: 200px;
}

.transactions-card, .transfer-funds-card {
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  height: 200px;
}

.account-details-header, .transactions-header, .account-balance-header, .transfer-header {
  margin-left: 18px;
  margin-top: 7px;
  font-size: 23px;
  font-weight: 200;
}

.account-details-content {
  font-size: 1.2em;
  text-align: right;
  padding-right: 20px;
  padding-top: 7px;
}

#account-holder, #account-number {
  font-size: 26px;
  font-weight: bold;
}

#account-holder {
  margin-top: -10px;
  margin-bottom: -10px;
}

#account-number {
  margin-bottom: -3px;
}

#account-type {
  font-size: 20px;
}

.account-balance-content {
  font-size: 1.2em;
  text-align: right;
  padding-right: 20px;
  padding-top: 25px;
}

#bal-amount {
  font-size: 55px;
  margin-bottom: -1px;
  margin-top: -8px;
  font-weight: bold;
}

#withdrawal-limit {
  font-size: 17px;
  color: #8d8d8d;
  font-weight: lighter;
}

#transaction-img {
  margin-top: -52px;
  margin-left: 152px;
  width: 220px;
  height: 220px;
}

#transfer-img {
  margin-top: -35px;
  margin-left: 165px;
  width: 190px;
  height: 190px;
}