.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 100px;
    position: relative;
  }
  
  .login-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .logo img {
    width: 150px;
    margin-bottom: 20px;
    position: absolute;
    top: 50px;
    left: 80px;
  }
  
  .illustration img {
    width: 700px;
    position: absolute;
    left: 140px;
    top: 180px;

  }
  
  .login-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }
  
  .login-right h2 {
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: 70px;
    background: linear-gradient(to right, #C42124 0%, #2175C4 40%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-group label {
    font-size: 17px;
    font-weight: medium;
  }
  
  .form-actions {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .login-btn {
    background-color: #2E5A84;
    color: #f5f5f5;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 200px;
    height: 45px;
    font-weight: bold;
    margin-right: 30px;
  }
  
  .register-btn {
    background-color: #BFD6E5;
    color: #656565;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 200px;
    height: 45px;
    font-weight: bold;
  }
  
  .forgot-password {
    margin-top: 15px;
    text-align: center;
    color: #888888;
    text-decoration: none;
    font-size: small
  }

  #input_id {
    font-size: small;
    width: 600px;
    height: 25px;
    border-radius: 15px;
    border-color: #ebebeb;
  }

  #input_id::placeholder {
    color:#8d8d8d;
  }

  #input_pw {
    font-size: small;
    width: 600px;
    height: 25px;
    border-radius: 15px;
    border-color: #ebebeb;
  }

  #input_pw::placeholder {
    color:#8d8d8d;
  }