<div class="login-container">
    <div class="login-left">
      <div class="logo">
        <img src="assets/swift-bank-logo.png" alt="Swift Bank Logo" />
      </div>
      <div class="illustration">
        <img src="assets/illustration.png" alt="Illustration" />
      </div>
    </div>
    <div class="login-right">
      <h2>on your way to Swift-er transactions...</h2>
      <form class="login-form">
        <div class="form-group">
            <label for="username">User Name</label><br><br>
            <input type="text" id="input_id" placeholder="Enter User Name" />
        </div>
        <br>
        <div class="form-group">
            <label for="password">Password</label><br><br>
            <input type="password" id="input_pw" placeholder="Enter Password" />
        </div>
        <br>
        <div class="form-actions">
          <button type="submit" class="login-btn">Login</button>
          <button type="button" class="register-btn" [routerLink]="['/register']">New? Register Here</button>
        </div>
        <br>
        <a href="#" class="forgot-password">Forgot Password?</a>
      </form>
    </div>
  </div>